Source: ironic-inspector
Section: python
Priority: extra
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
Build-Depends: debhelper (>= 9),
               dh-python,
               openstack-pkg-tools,
               python-all,
               python-pbr (>= 1.8),
               python-setuptools,
               python-sphinx,
Build-Depends-Indep: alembic (>= 0.8.0),
                     python-babel,
                     python-coverage,
                     python-eventlet (>= 0.17.4),
                     python-flask,
                     python-hacking (>= 0.10.0),
                     python-ironicclient (>= 0.8.1),
                     python-jsonpath-rw (>= 1.2.0),
                     python-jsonschema,
                     python-keystoneclient (>= 1:1.6.0),
                     python-keystonemiddleware (>= 2.0.0),
                     python-mock (>= 1.3),
                     python-netaddr (>= 0.7.12),
                     python-oslo.config (>= 1:2.3.0),
                     python-oslo.db (>= 2.4.1),
                     python-oslo.i18n (>= 1.5.0),
                     python-oslo.log (>= 1.8.0),
                     python-oslo.rootwrap (>= 2.0.0),
                     python-oslo.utils (>= 2.0.0),
                     python-six (>= 1.9.0),
                     python-sqlalchemy (>= 0.9.9),
                     python-stevedore (>= 1.5.0),
                     python-swiftclient (>= 1:2.2.0),
Standards-Version: 3.9.6
Vcs-Git: https://anonscm.debian.org/git/openstack/ironic-inspector.git
Vcs-Browser: https://anonscm.debian.org/cgit/openstack/ironic-inspector.git/
Homepage: https://github.com/openstack/ironic-inspector

Package: python-ironic-inspector
Architecture: all
Depends: alembic (>= 0.8.0),
         python-babel,
         python-eventlet (>= 0.17.4),
         python-flask,
         python-ironicclient (>= 0.8.1),
         python-jsonpath-rw (>= 1.2.0),
         python-jsonschema,
         python-keystoneclient (>= 1:1.6.0),
         python-keystonemiddleware (>= 2.0.0),
         python-netaddr (>= 0.7.12),
         python-oslo.config (>= 1:2.3.0),
         python-oslo.db (>= 2.4.1),
         python-oslo.i18n (>= 1.5.0),
         python-oslo.log (>= 1.8.0),
         python-oslo.rootwrap (>= 2.0.0),
         python-oslo.utils (>= 2.0.0),
         python-pbr (>= 1.8),
         python-six (>= 1.9.0),
         python-sqlalchemy (>= 0.9.9),
         python-stevedore (>= 1.5.0),
         python-swiftclient (>= 1:2.2.0),
         ${misc:Depends},
         ${python:Depends},
Description: discovering hardware properties for OpenStack Ironic - Python 2.7
 This is an auxiliary service for discovering hardware properties for a node
 managed by OpenStack Ironic. Hardware introspection or hardware properties
 discovery is a process of getting hardware parameters required for scheduling
 from a bare metal node, given it's power management credentials (e.g. IPMI
 address, user name and password).
 .
 A special discovery ramdisk is required to collect the information on a node.
 The default one can be built using diskimage-builder and
 ironic-inspector-ramdisk element.
 .
 This package contains the Python 2.7 files.

Package: ironic-inspector
Architecture: all
Depends: adduser,
         python-ironic-inspector (= ${binary:Version}),
         ${misc:Depends},
         ${python:Depends},
Description: discovering hardware properties for OpenStack Ironic - Daemon
 This is an auxiliary service for discovering hardware properties for a node
 managed by OpenStack Ironic. Hardware introspection or hardware properties
 discovery is a process of getting hardware parameters required for scheduling
 from a bare metal node, given it's power management credentials (e.g. IPMI
 address, user name and password).
 .
 A special discovery ramdisk is required to collect the information on a node.
 The default one can be built using diskimage-builder and
 ironic-inspector-ramdisk element.
 .
 This package contains the daemon.
